.card {
    border:none;
    margin-bottom:0px !important;
    a, span {
        font-size:14.6px;
        font-weight:700;
        color:rgba(0,0,0,0.6) !important;
        &.active:before {
            content:'>'
        }
    }
    .arrow-active {
        position: absolute;
        bottom: 28px;
        left: -3px;
    }
    .card-body {
        display:flex;
        justify-content: space-between;
        align-items:center;
        width:100%;
        transition:0.2s ease-in-out;
        cursor:pointer;
        &:hover {
            .card-title, .celsius {
                transition:0.3s ease-in-out;
                opacity:1 !important;
                color:rgba(0, 0, 0, 1) !important
            }
            .card-description {
                transition:0.3s ease-in-out;
                color:rgba(125, 197, 196, 0.818) !important;
            }
            opacity:1;
        }
    }
    a, span {
        margin-bottom:0px;
    }
    .card-right-box {
        display:flex;
        flex-direction:column;
        float:right;
        font-size: 12.5px;
        color: rgba(0, 0, 0, 0.3) !important;
    }
    .card-description {
        color:rgba(0,0,0,0.35) !important;
    }

}