.hamburger-menu {
    position:absolute;
    right:20px;
    top:20px;
    z-index:2;
    color:white;
    cursor:pointer;
    i {
        font-size:30px;
        &:hover {

        }
    }
}

header {
    h1 {
        position:absolute;
        color:white;
        left:20px;
        font-size:25px;
        margin-top:0px;
        top:15px;
        z-index:2;
    }
}