.hamburger-menu {
    position:absolute;
    right:20px;
    top:20px;
    z-index:2;
    color:white;
    cursor:pointer;
    i {
        font-size:30px;
        &:hover {

        }
    }
}

header {
    h1 {
        position:absolute;
        color:white;
        left:20px;
        font-size:25px;
        margin-top:0px;
        top:15px;
        z-index:2;
    }
    .left-sidebar {
        a {
            text-decoration: none;
        }
        ul {
            padding-top:50px;
            color:black;
            white-space:nowrap;
            li {
                &:hover {
                    color:black;
                }
                transition:0.3s ease-in-out;
                list-style-type: none;
                color:$primary;
                font-size:32px;
                font-weight:600;
                margin-top:20px;
            }
        }
        overflow:hidden;
        height:100vh;
        width:0vw;
        position:absolute;
        left:0;
        top:0;
        z-index:999999999;
        background-color:rgba(255,255,255,0.94);
        box-shadow: -1px -56px 34px rgba(63, 63, 63, 0.094);
        .close-icon {
          color: $primary;
          border-radius:50px !important;
          position: absolute;
          top: 10px;
          left: 10px;
          font-size: 28px !important;
          cursor: pointer;
          background-color:$shadow !important;
          padding:3px;
          &:hover {
              background-color:$primary !important;
              color:white !important;
          }
        }
    }
}
