.mdc-top-app-bar {
    background-color:rgba(125, 197, 196, 1) !important;
    z-index:99999 !important;
}

.mdc-icon-button:focus, .mdc-icon-button:active {
    outline:0 !important;
}
.mdc-top-app-bar__title {
    a {
        color:white;
        text-decoration: none;
    }
}