
<div class="banner cloudy">
    <div class="overlay cloudy">
        <div class="pajaro" style="top:80%">··</div>
        <div class="weather-ui-banner text-center">
            <h3>Cloudy</h3>
            <h4>Auckland, New Zealand</h4>
            <h2>14°</h2>
        </div>
    </div>
</div>

<nav class="nav nav-pills flex-row menu">
    <a class="flex-sm-fill text-sm-center nav-link active" href="#">Weather</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="#">News</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="#">Photos</a>
</nav>


<div class="container pt-4">
    <div class="row">
        <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12 col-xs-12 w-100 pop-cards" ng-repeat="list in daysTemperatures track by $index">
            <div class="card" style="width: 100%; margin-bottom:30px;">
              <i class="fas fa-caret-right arrow-active" ng-if="$index == 1"></i>
                <div class="card-body">
                  <a class="card-title">{{days[$index]}}</a>
                  <!-- <a class="card-subtitle mb-2 text-muted">{{list.weather[0].main}}</a> -->
                  <div class="card-right-box">
                    <a class="celsius">{{list.temp.max}}°C</a>
                    <a class="card-description">Cloudy</a>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>