
<div class="banner cloudy home">
    <div class="overlay cloudy">
        <!-- <p class="currentDate">{{days[currentDay]}}, 03, 2019</p> -->
        <p ng-cloak class="currentDate" ng-if="daysTemperatures[currentDay].dt * 1000">{{convertToDate(daysTemperatures[currentDay].dt * 1000) | date : MM/dd/yyyy}}</p>

        <div class="pajaro" style="top:80%">··</div>
        <div id="background-wrap">
      
          <div class="x2">
              <div class="cloud"></div>
          </div>
      
          <div class="x3">
              <div class="cloud"></div>
          </div>
      
          <div class="x4">
              <div class="cloud"></div>
          </div>
      
          <div class="x5">
              <div class="cloud"></div>
          </div>
      </div>
        <div class="weather-ui-banner text-center">
            <h3>Search for a place</h3>
            <input type="search" placeholder="Eg. Auckland" name="search" class="search-input" ng-model="place">
            <a href="#/weather" type="button" class="search-button">Go</a>

        </div>
          <i class="material-icons down-arrow">
            keyboard_arrow_down
          </i>
    </div>


</div>

