

<div class="banner cloudy" ng-class="{'cloudy' : daysTemperatures[currentDay].weather[0].main == 'Clouds', 'rainy' : daysTemperatures[currentDay].weather[0].main == 'Rain'}">
    <div class="overlay cloudy" ng-class="{'cloudy' : daysTemperatures[currentDay].weather[0].main == 'Clouds', 'rainy' : daysTemperatures[currentDay].weather[0].main == 'Rain'}">
        <p class="currentDate" ng-if="daysTemperatures[currentDayClick].dt">
          {{days[currentDay]}}
          {{convertToDate(daysTemperatures[currentDayClick].dt) | date : 'dd/MM/yyyy'}}
        </p>

        <div class="pajaro" style="top:80%">··</div>

        <clouds-render></clouds-render>

        <div class="weather-ui-banner text-center">
            <h3 ng-if="!currentDay">{{daysTemperatures[currentDay].weather[0].main}}</h3>
            <h3 ng-if="currentDay">{{daysTemperatures[currentDay].weather[0].main}}</h3>
            <h4>Auckland, New Zealand</h4>
            <h2 ng-if="formatNumber(daysTemperatures[currentDay].temp.day)">{{formatNumber(daysTemperatures[currentDay].temp.day) + '°'}}</h2>
        </div>
        
          <i class="material-icons down-arrow">
            keyboard_arrow_down
          </i>
    </div>
</div>

<div class="nav-secondary">
  <nav class="nav nav-pills flex-row menu" id="nav-pills">
    <a class="flex-sm-fill text-sm-center nav-link active" href="#">Weather</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="#">More</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="#">Photos</a>
  </nav>
</div>


<div class="container pt-4">
    <div class="row pt-2 weather-menu">
        <div class="col-lg-12 col-xl-12 offset-xl-12 col-md-12 col-sm-12 col-xs-12 w-100 pop-cards" ng-repeat="list in daysTemperatures track by $index">
          <a id="{{$index}}" class="clickPage" ng-click="click($index, $event)">
            <div class="card" style="width: 100%; margin-bottom:30px;">
              <!-- <i class="material-icons arrow-active" ng-if="$index == 1">arrow_right</i> -->
                  <div class="card-body" data-ng-class="{'active-card' : $index ==  $scope.currentDay}">
                    <span class="card-title"> {{days[$index]}} </span>
                    <div class="card-right-before-box ml-auto">
                    </div>
                    <div class="card-right-box">
                      <span class="celsius text-right">{{formatNumber(list.temp.day)}}°C </span>
                      <span class="card-description">{{list.weather[0].main}} </span>
                    </div>
                      <img style="width:60px;" src="{{icons[$index]}}">
                  </div>
                </div>
                </a >
            </div>
        </div>
  </div>